main {
    display: flex;
    background-color: $bluegrey;
    justify-content: space-between;
    align-items: center;
    @media (min-width:900px) {
        justify-content: space-evenly;
        flex-direction: row;
        align-items: flex-start;
        height: 150%;
    }
}

.connect-form {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-bottom: $marge-soft;
    @media (min-width:900px) {
        justify-content: space-evenly;
        margin: $marge-soft;

    }
    &__title {
        align-self: center;
    }
    &__body {
        display: flex;
        flex-direction: column;
        margin-bottom: $marge-soft;
        &__input {
            border: $pumpkin solid 1px;
            padding: $pad-one;
            margin-bottom: $marge-soft;
            text-align: center;
            &:hover {
                cursor: pointer;
                size: 112%;
            }
            @media (min-width:900px) {
                height: 2rem;
                font-size: 110%;
            }
        }
        &__submit {
            background-color: $pumpkin;
            color: white;
            font-weight: bold;
            border-radius: $rounded-soft;
            &:hover {
                background-color: $anthracite;
                color: $pumpkin;
            }
            @media (min-width:900px) {
                height: 2rem;
                font-size: 110%;
            }
        }
    }
}