.user{
    display: flex;
    flex-direction: column;
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: $marge-soft;
        &__figure{
            position: relative;
            text-align: center;
            width: 100%;
            margin: $marge-one;
            padding-top: 30px;
            background-color: $lightgrey;
            &__img{
                width: 20%;
                border: 3px solid white;
                border-radius: 50%;
            }
            &__btn{
                position: absolute;
                right: $pad-soft;
                bottom: $pad-soft;
                padding: $pad-soft;
                text-transform: uppercase;
                color: white;
                border: none;
                border-radius: 5px;
                background: none;
                @media (min-width: 900px) {
                    font-size: 0.6em;
                }
                &--delete{
                    right: 100px;
                    @media (min-width: 900px) {
                        font-size: 0.6em;
                    }
                }
                &:hover{
                    cursor: pointer;
                    background-color: white;
                    color: $anthracite;
                }
            }
        }
        &__name{
            font-size: 2em;
            @media (min-width: 900px) {
                font-size: 0.6em;
            }
        }
    }
    &__infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        border: 2px solid $pumpkin;
        border-radius: $pad-soft;
        @media (min-width: 900px) {
            font-size: 0.6em;
        }
        &__title{
            width: 100%;
            text-align: center;
            background-color: $pumpkin;
            border-radius: 5px 5px 0px 0px;
            color: white;
            font-size: 1.7em;
        }
        &__content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            padding: $pad-soft 0;
            &__key{
                color: $bluegrey;
            }
            &__value{
                color: $pumpkin;
            }
        }
    }
}

.update-user{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: $bluegrey;
    form{
        width: 50%;
        background-color: white;
        border-radius: $pad-soft;
        display: flex;
        flex-direction: column;
        padding: 20px;
        input[type=text]{
            border: 2px solid $pumpkin;
            border-radius: 5px;
            height: 40px;
            width: 50%;
            font-size: 1.3em;
        }
        input[type=file]{
            margin: 20px 0px;
        }
        div{
            display: flex;
            input[type=submit]{
                width: fit-content;
                padding: $pad-soft 30px;
                border: none;
                border-radius: 20px;
                background-color: $electricblue;
                opacity: 0.9;
                color: white;
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                }
            }
            button{
                width: fit-content;
                padding: $pad-soft 30px;
                border: none;
                border-radius: 20px;
                background-color: $bluegrey;
                opacity: 0.9;
                color: white;
                margin-left: 20px;
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}