main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: $marge-soft;
    .title-notfounded {
        padding-bottom: $pad-soft;
        color: $pumpkin;
        font-weight: bold;
    }
    .funny {
        width: 100%;
        height: auto;
        img {
            width: 1000px;
            height: 20%;
        }
        @media (min-width:900px) {
            width: 90%;
            height: 20%;
            
        }
    }
    @media (min-width:900px) {
        display: flex;
        flex-direction: row;
        text-align: unset;
    }
}

