main {
    display: flex;
    flex-direction: column;
    height: max-content;
    @media (min-width:900px) {
        flex-direction: row;
        
    }
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $marge-one;
    padding: $pad-one;
    @media (min-width:900px) {
        flex-basis:66.66%;
        
    }
    h2 {
        color: white;
    }
}