footer { 
    background-color: white;
    border-top: 2px solid $anthracite;
    .sticky-menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 5%;
        padding: $pad-one $pad-one $pad-one 0;
        a {
            text-decoration: none;
            color: $anthracite;
            font-family: $raleway;
            font-weight: bold;
            font-size: 1.5rem;
            @media (min-width: 900px) {
                font-size: 3.5rem;
            }
            &:hover {
                color: $pumpkin;
            }
        }
    }
    .logo {
        width: 10%;
        height: 10%;
    }
    
}