header {
    background-color: $anthracite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7.5vh;
    padding-top: $pad-one;
    padding-bottom: $pad-one * 2;
    margin-bottom: $marge-one;
    h1{
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 10vh;
        .logo{
            width: 170%;
            @media (min-width: 900px) {
                width: 40%;
            }
        }
    }
    nav {
        height: 100%;
        ul{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0;
            padding: 0px;
            
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                padding: 0 70px $pad-twentypx $pad-twentypx;
                color: $lightgrey;
                font-size: .8rem;
                &:hover{
                    color: $pumpkin;
                    text-decoration: none;
                }
                @media (min-width: 900px) {
                    font-size: 1.5rem;
                    padding: 0 $pad-twentypx * 4 $pad-one $pad-one;
                }
            }
            
        }
    }  
}