// IMPORTS SASS
@import './base/colours';
@import './base/typography';
@import './pages/connect';
@import './pages/mycount';
@import './pages/notfound';
@import './layout/header';
@import './layout/footer';
@import './layout/board';
@import './layout/post';
@import './components/cards';
@import './components/avatar.scss';

//all site
body {
    background-color: white;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: $raleway;
}