.card-post{
    background-color: white;
    box-shadow: 1.95px 1.95px 13px $lightgrey;
    display: flex;
    flex-direction: column;
    padding: $pad-one;
    margin-bottom: $pad-soft;
    border-radius: $rounded-soft;
    width: 100%;
    height: 80%;
    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: $pad-one;
        padding-right: $pad-one;
    }
    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        textarea {
            border: none;
            font-family: $raleway;
            outline: 0;
            background-color: none;
            border-bottom: $pumpkin  solid .1rem;
            margin-bottom: $marge-one;
        }
        div {
            display: flex;
            flex-wrap: nowrap;
            margin-top: $marge-one;
        }
        .submitbtn{
            flex-basis: 45%;
            border: none;
            outline: 0;
            background-color: $electricblue;
            border-radius: $rounded-soft;
            padding: $pad-one;
            margin-left: $marge-soft;
        }
        .mediabtn {
            background-color: $mousegrey;
            margin-bottom: $marge-one;
            border-radius: $rounded-soft;
            padding: $pad-one;
        }
    }
}
