// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

// VARIABLES
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;

// GRAPHIC  ELEMENT
// Rouded
$rounded-soft: 12.5pt;
$rounded-medium: 25pt;
$rounded-hard: 37.5pt;
$rounded-circle: 50pt;
//marge
$marge-one: 1%;
$marge-soft: 5%;
$marge-medium: 10%;
$marge-hard: 15%;
$marge-twenty: 20%;
// padding
$pad-one: 1%;
$pad-soft: 5%;
$pad-medium: 10%;
$pad-hard: 15%;
$pad-twenty: 20%;
$pad-forty: 40%;
$pad-twentypx: 20px;